.root {
  @apply relative max-h-full w-full box-border overflow-hidden
  bg-no-repeat bg-center bg-cover transition-transform
  ease-in cursor-pointer;
  height: 100% !important;
  

  &:hover {
    
    & .productTitle, &.productPrice {
        @apply inline;
      };
      
    
    & .squareBg:before {
      transform: scale(0.98);     
    };

    & .product-image {
      transform: scale(1.05);
    };

    & .productTitle > span
    {
      @apply bg-secondary text-secondary ;
      
    };

    
  }

  & .product-image {
    @apply transform transition-transform duration-500;
  }

  &:nth-child(6n + 1) .squareBg {
    @apply bg-violet;
  }

  &:nth-child(6n + 5) .squareBg {
    @apply bg-blue;
  }

  &:nth-child(6n + 3) .squareBg {
    @apply bg-pink;
  }

  &:nth-child(6n + 6) .squareBg {
    @apply bg-cyan;
  }
}

.squareBg,
.productTitle > span,
.productPrice,
.wishlistButton {
  @apply transition-colors ease-in-out duration-500;
  
}

.squareBg {
  @apply transition-colors absolute inset-0 z-0;
  background-color: #212529;
}

.squareBg:before {
  @apply transition ease-in-out duration-500 bg-repeat-space w-full h-full block;
  background-image: url('/bg-products.svg');
  content: '';
}

.simple {
  & .squareBg {
    @apply bg-accents-0 !important;
    background-image: url('/bg-products.svg');
  }

  & .productTitle {
    @apply pt-2;
    font-size: 1rem;
    

    & span {
      @apply leading-extra-loose;
    }
  }

  & .productPrice {
    @apply text-sm;
  }
}

.productTitle {
  @apply pt-0 max-w-full w-full leading-extra-loose bg-pink hidden .p-1;
  font-size: 1.5 rem;
  letter-spacing: 0.4px;
  
 
 
  & span {
    @apply py-4 px-6 bg-transparent text-primary font-bold;
    font-size: inherit;
    letter-spacing: inherit;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    
  }
}

.productPrice {
  @apply py-4 px-6 bg-primary text-primary font-semibold inline-block text-sm leading-6 hidden;
  letter-spacing: 0.4px;
  
}

.wishlistButton {
  @apply w-10 h-10 flex ml-auto items-center justify-center bg-primary text-primary font-semibold  text-xs leading-6 cursor-pointer;
}

/*  --La imagen de cada producto--    */
.imageContainer {
  @apply flex items-center justify-center transition duration-300;
  overflow: hidden;

  &:hover {
    opacity: 50%;
  }

  & > div {
    min-width: 100%;
  }
}

.image {
  object-fit: cover;
  transform: scale(1.2);
}

.wrapper {
  @apply flex flex-row justify-between box-border w-full z-20 absolute .m-10 .p-11;

}